In [1]:
import pandas as pd

In [2]:
all_ages = pd.read_csv("all_ages.csv")
recent_grades = pd.read_csv("recent_grades.csv")

In [3]:
all_ages.head()

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148.0,90245.0,74078.0,2423.0,0.026147,50000.0,34000.0,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326.0,76865.0,64240.0,2266.0,0.028636,54000.0,36000.0,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955.0,26321.0,22810.0,821.0,0.030248,63000.0,40000.0,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549.0,81177.0,64937.0,3619.0,0.042679,46000.0,30000.0,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280.0,17281.0,12722.0,894.0,0.049188,62000.0,38500.0,90000.0

In [4]:
recent_grades.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419.0,PETROLEUM ENGINEERING,Engineering,2339.0,36.0,2057.0,282.0,0.120564,1976.0,...,270.0,1207.0,37.0,0.018381,110000.0,95000.0,125000.0,1534.0,364.0,193.0
1,2,2416.0,MINING AND MINERAL ENGINEERING,Engineering,756.0,7.0,679.0,77.0,0.101852,640.0,...,170.0,388.0,85.0,0.117241,75000.0,55000.0,90000.0,350.0,257.0,50.0
2,3,2415.0,METALLURGICAL ENGINEERING,Engineering,856.0,3.0,725.0,131.0,0.153037,648.0,...,133.0,340.0,16.0,0.024096,73000.0,50000.0,105000.0,456.0,176.0,0.0
3,4,2417.0,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258.0,16.0,1123.0,135.0,0.107313,758.0,...,150.0,692.0,40.0,0.050125,70000.0,43000.0,80000.0,529.0,102.0,0.0
4,5,2405.0,CHEMICAL ENGINEERING,Engineering,32260.0,289.0,21239.0,11021.0,0.341631,25694.0,...,5180.0,16697.0,1672.0,0.061098,65000.0,50000.0,75000.0,18314.0,4440.0,972.0

In [28]:
aa_major_cat = all_ages["Major_category"].unique()
rg_major_cat = recent_grades["Major_category"].unique()

aa_cat_count = {}
rg_cat_count = {}

def count_student_major_cat(major_cat, df, cat_count):
    for category in major_cat:
        subset = df[df["Major_category"] == category]
        nbr_of_students = subset["Total"].sum()
        cat_count[category] = nbr_of_students

In [29]:
count_student_major_cat(aa_major_cat, all_ages, aa_cat_count)
aa_cat_count

{'Agriculture & Natural Resources': 632437.0,
 'Biology & Life Science': 1338186.0,
 'Engineering': 3576013.0,
 'Humanities & Liberal Arts': 3738335.0,
 'Communications & Journalism': 1803822.0,
 'Computers & Mathematics': 1781378.0,
 'Industrial Arts & Consumer Services': 1018072.0,
 'Education': 4700118.0,
 'Law & Public Policy': 902926.0,
 'Interdisciplinary': 45199.0,
 'Health': 2950859.0,
 'Social Science': 2654125.0,
 'Physical Sciences': 1013152.0,
 nan: 0.0,
 'Psychology & Social Work': 1987278.0,
 'Arts': 1805865.0,
 'Business': 9858741.0}

In [30]:
import numpy
aa_students_per_major_cat = all_ages.pivot_table(index="Major_category", values="Total", aggfunc=numpy.sum)
aa_students_per_major_cat

                                         Total
Major_category
Agriculture & Natural Resources       632437.0
Arts                                 1805865.0
Biology & Life Science               1338186.0
Business                             9858741.0
Communications & Journalism          1803822.0
Computers & Mathematics              1781378.0
Education                            4700118.0
Engineering                          3576013.0
Health                               2950859.0
Humanities & Liberal Arts            3738335.0
Industrial Arts & Consumer Services  1018072.0
Interdisciplinary                      45199.0
Law & Public Policy                   902926.0
Physical Sciences                    1013152.0
Psychology & Social Work             1987278.0
Social Science                       2654125.0

In [31]:
count_student_major_cat(rg_major_cat, recent_grades, rg_cat_count)
rg_cat_count

{'Engineering': 537583.0,
 'Business': 1302376.0,
 'Physical Sciences': 183363.0,
 'Law & Public Policy': 179107.0,
 'Computers & Mathematics': 299008.0,
 'Agriculture & Natural Resources': 79981.0,
 'Industrial Arts & Consumer Services': 227357.0,
 'Arts': 357130.0,
 'Health': 463230.0,
 'Social Science': 529966.0,
 nan: 0.0,
 'Biology & Life Science': 453862.0,
 'Education': 559129.0,
 'Humanities & Liberal Arts': 713468.0,
 'Psychology & Social Work': 481007.0,
 'Communications & Journalism': 392601.0,
 'Interdisciplinary': 12296.0}

In [34]:
rg_students_per_major_cat = recent_grades.pivot_table(index="Major_category", values="Total", aggfunc=numpy.sum)
rg_students_per_major_cat

                                         Total
Major_category
Agriculture & Natural Resources        79981.0
Arts                                  357130.0
Biology & Life Science                453862.0
Business                             1302376.0
Communications & Journalism           392601.0
Computers & Mathematics               299008.0
Education                             559129.0
Engineering                           537583.0
Health                                463230.0
Humanities & Liberal Arts             713468.0
Industrial Arts & Consumer Services   227357.0
Interdisciplinary                      12296.0
Law & Public Policy                   179107.0
Physical Sciences                     183363.0
Psychology & Social Work              481007.0
Social Science                        529966.0

In [37]:
low_wage_proportion = (recent_grades["Low_wage_jobs"].sum() / recent_grades["Total"].sum()) * 100
print(f"The proportion of low wage jobs is : {low_wage_proportion}")

The proportion of low wage jobs is : 9.856140415130318

How much recent grades performs worste than the all population.

In [164]:
rg_lower_count = 0

for major in recent_grades["Major"][recent_grades["Major"].isnull() == False].unique():
 
    rg_unemployed_rate = recent_grades[recent_grades["Major"] == major]["Unemployment_rate"].iloc[0]
    aa_unemployed_rate = all_ages[all_ages["Major"] == major]["Unemployment_rate"].iloc[0]

    if rg_unemployed_rate < aa_unemployed_rate:
        rg_lower_count += 1

rg_lower_count

42